/*
Template Name: dossy
Template URI: http://www.shopiy.com/
Description: 更多信息请访问<a href="http://www.shopiy.com/dossy" target="_blank" style="color:#f60;font-size:1.2em;font-weight:bold;">Shopiy</a>了解
Version: 2.7.3
Author: david@shopiy.com
Author URI: http://www.shopiy.com
Logo filename: logo.gif
Template Type: type_0
*/