/*
Template Name: 优匙云商户网店默认模板-1
Template URI: http://www.ysyhaitao.com/
Description: 优匙云商户网店默认模板
Version: 2.73
Logo filename: logo.gif
Template Type: type_0
*/

/* ====================
     公共样式
==================== */
body{font: 12px/1.5 Arial, Helvetica, sans-serif,"宋体";color: #333; padding:0; margin:0;}
div{margin:0 auto; padding:0;}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,p{
margin:0; padding:0; border:none; list-style-type:none;
}
.block{width:1200px;  margin:0 auto;}

.index_body .block{width:1200px;   margin:0 auto;}
 .table td,.table th{ padding:5px;}

.f_l{float:left;}
.f_r{float:right;}
.tl{ text-align:left;}
.tc{ text-align:center;}
.tr{ text-align:right;}
.dis{display:block;}
.inline{display:inline;}
.none{display:none;}
a{ text-decoration:none; color:#222;}
a:hover {
color:#cc0001;
}
.dashed{background:url(images/lineBg.gif) repeat-x left top; color:#3f3f3f;  padding:2px 0 3px 12px;}

.clearfix:after{
content:"."; display:block; height:0; clear:both;
visibility:hidden;
}
*html .clearfix{
 height:1%;
}
*+html .clearfix{
 height:1%;
}
/*英文强制换行*/
.word{word-break:break-all;}

  /*边框*/
  .B_blue{border:1px solid #e2e2e2;}
  .B_input{border:1px solid #ccc;}
  .inputBg{border:1px solid #b3b3b3;   height:23px; line-height:23px;}
  /*字体颜色ecmoban.com*/
  .f1{color:#b22825; font-weight:bold}
  .f2{color:#ff6f3d; font-weight:bold; margin-right:15px;}
  .f3{color:#9e9e9e;}
  .f4{color:#b22825;}
  .f4_b{color:#ff6f3d; font-weight:bold;}
  .f5{ font-size:14px; font-weight:bold;}
  .f6{color:#DA0D14;}
  .market{ font-size:12px; text-decoration:line-through; color:#999}
  .shop{font-family: 'Arial';
font-size: 28px;
color: #CF010E; font-weight:bold }
  .market_s{text-decoration:line-through;}
  .shop_s{color:#CF010E;  font-weight:bold}
  /*按钮部分*/
  .bnt_blue{
  background:url(images/bg.gif) no-repeat 0px 0px; width:52px; height:21px;
  text-align:center; line-height:22px; color:#333; border:none; cursor:pointer; overflow:hidden
  }
  .bnt_blue_1{
  background:url(images/bg.gif) no-repeat 0px -663px; width:77px; height:21px;
  text-align:center; line-height:22px; color:#333; border:none; cursor:pointer;overflow:hidden
  }
  .bnt_blue_2{
  background:url(images/bg.gif) no-repeat 0px -696px; width:139px; height:21px;
  text-align:center; line-height:22px; color:#333; border:none; cursor:pointer;overflow:hidden
  }
  .bnt_bonus{
  background:url(images/bg.gif) no-repeat -56px 0px; width:52px; height:21px;
  text-align:center; line-height:22px; color:#333; border:none; cursor:pointer;overflow:hidden
  }
  /*box from ec moban*/
 
  .box_1{border:1px solid #ddd; background-color:#fff;}
  .box_2{border:1px solid #ddd; background:url(images/box_2Bg.gif) repeat-x top left;
  background-color:#edf8fe;   
  }
  .boxCenterList{padding:8px;}
  /*模块标题*/
  h3{height:32px; line-height:32px; font-size:12px; background:#e5e5e5; text-align:right;
  padding:0 12px; font-weight:100;  
  }
  h3.border{border:1px solid #e2e2e2; border-bottom:none;}
  h3 img{position:relative; top:10px;}
  h3 span{float:left; font-size:14px; height:32px; line-height:32px; text-align:left;
   font-weight:bold; padding-left:5px;  font-family:"微软雅黑"}
   h3 a{ color:#333; text-decoration:none; font-family:"微软雅黑"}
  h5{height:26px; line-height:26px; text-align:right; background-color:#f6f6f6; font-size:12px;
  color:#900; padding:0 10px 0 0;
  }
  h5 span{float:left; font-weight:bold;padding-left:15px;}
  h6{height:38px; line-height:38px; text-align:right; font-size:12px; background:#f6f6f6; color:#3f3f3f;
  border:1px solid #fff; padding-right:10px;
  }
  h6 span{float:left; padding-left:15px; font-size:14px;}

  /*页面留白*/
  .blank{height:15px; line-height:15px; clear:both; visibility:hidden;}
  .blank5{height:5px; line-height:5px;/* _margin:-3px 0;e c m o b a n*/ clear:both; visibility:hidden;}
  /*布局*/
  .AreaL{width:210px; float:left; }
  
  .index_page .AreaL{ position:relative;  margin-top:-37px; z-index:99999}
  
  .AreaR{width:970px; float:right;  }

 
/* ====================
     导航部分
==================== */
.nlogo, #search .B_input_box, .menu_box a, li.nav_list, .qingcang, .nnav1 li a, .nms, a.home_cell, .ntit2 span, .hd_menu, .hd_menu2, .lisr, #dd1 a, #dd2 a, #dd3 a, .footer_qi, .pci, .footer_links ul, .footer_links li, .hd_cue, .hd_cue b {background: url(images/rest_bg.png) 0 0 no-repeat;}
.topNav{height: 30px;line-height: 30px;color: #666666; border-bottom:1px solid #DCDCDC;}
.topNav a{ padding:0 2px; color:#666; cursor:pointer;}
 a.home_cell{float: left; display:block; cursor: pointer; padding: 0 1px 0 18px; background-position: -788px 4px; color: #666; position: relative; }

.topNav a:hover {color: #CF140A;}

.topNav #ECS_MEMBERZONE a{  color:#DA0D14;}
.topNav .f_r a{ color:#333;}
.topNav .f_r .rexian{ padding:0 6px 0 4px;}
.topNav .f_r .phone{line-height: 29px; overflow: hidden; background: none; border: none; color: #ce050d; margin: 2px 0 0 0; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: italic; font-size: 16px; padding: 0 0 0 4px;}
.nlogo{float: left;background-position: 0 0;width: 316px;height: 85px;text-indent: -99999px;}
.logo img{ float:left}
.logo a .logo_r_a{ display:block}
.logo a .logo_r_b{ display:none}
.logo a:hover .logo_r_a{ display:none}
.logo a:hover .logo_r_b{ display:block} 
.log ul { float:left;}
.log .userInfo a{color:#c00; text-decoration:none;}
.log li img{position:relative; top:5px;}
.log  .ul1 { position:relative; z-index:999999999; width:78px; margin-left:5px; margin-right:10px; _margin-right:0;   float:left; background:url(images/log_bg.gif)   no-repeat  66px center;}
.log  .ul1 .a1{  color:#333;}
.log  .ul1 .a1:hover{ color:#CF140A;}

.log  .ul1 span,.log  .ul1_on span{ margin-left:5px;}

.headBg { position:relative; z-index:99;}

 /* ====================
导航部分
==================== */

/*Logo和搜索及购物车*/ 
#search{ width: 460px; height:65px; float:left; margin-top:15px; margin-left:0;  }  
#search .keys a{text-decoration:none; padding:0 2px;}
#search .keys {width:460px; height:22px; line-height:22px; overflow:hidden;  } 
#search .B_input_box{float: left;padding: 0 0 0 28px;width: 452px;height: 40px;background-position: 0 -116px; }
#search .B_input_box input{ border:none; background:none;}
#search .B_input{width: 304px; margin: 0 8px; height: 36px; color: #ccc; line-height: 36px; float: left; border: none; overflow: hidden;
background: none; outline: none;  }
#search  .sy_btn{ursor: pointer; width: 105px; letter-spacing: 3px; height:36px; line-height:36px; font-weight: bold; color: #fff; font-size: 16px; padding: 0; margin:0 8px;}
#search .B_input_box .search_go{ position:absolute; right:8px; top:5px; }
#search  b{ font-weight:normal;}
#search .go{width: 80px;height: 36px;margin-left: 22px;border: 0 none;cursor: pointer;background: none;}
#searchForm{  }
.nms{float: right; width: 355px; height: 37px; margin-top: 30px; background-position: -332px -60px; text-indent:-99999px; }



 




/*页面主导航*/
.menu_box{width: 100%; height: 37px;  background: url(images/repeat_bg.png) 0 -32px repeat-x; }
.menu_box a{color: #fff;
text-decoration: none;
height: 31px;
color: #fff;
font-size: 14px;
line-height: 31px;
float: left;
text-align: center;
display: block;
padding: 0 15px;
position: relative;
top: 6px; 
background-position: -642px 8px;
}

 .menu_box a:hover{background: #9a3333;
color: #fff;
cursor: pointer;
}
 .index_page .menu_box .menu{ padding-left:215px;}

  /*当前位置*/
  #ur_here{
  height:24px; line-height:24px; 
  }
  #ur_here a{color:#666; text-decoration:none;}

/* ====================
     模块
==================== */

   /*商品分类*/
  
#category_tree{  }
#category_tree .tit{background: url(images/nav_t_bg.jpg) repeat-x;
height: 26px;
line-height: 26px;
font-weight: normal;
color: #fff;
text-align: center;
font-size: 12px;
}
#category_tree dl{
width: 208px;
border: 1px solid #dadada;
border-top: none;
background: #fff;
z-index: 9999;}
   #category_tree .dt{font-size:12px;position:relative; }
   #category_tree #dt6 .a {height: 54px;padding-bottom: 0;}
   #category_tree .dt .a{position: relative;
width: 208px;
height: 69px;
padding-bottom: 4px;
_padding-bottom: 1px;
background: #fff;
cursor: pointer; display: block; }
  #category_tree .dt h3{width: 185px;
font-weight: bold;
margin: 0 0 0 20px;
padding: 0;
text-align: left;
height: 25px;
line-height: 25px;
font-size: 14px;
font-family: "微软雅黑";
background: none;
position: relative;} 
  #category_tree .dt h3 span{width: 18px;
font-weight: 200;
font-size: 12px;
line-height: 25px;
font-family: "新宋体";
position: absolute;
right: 0;
top: 0;
}
   #category_tree .dt .a img{ position:absolute; right:10px; top:18px;  }
   #category_tree .dt .t{ background:url(images/biao5.gif) no-repeat 10px center #f3f3f3}
   
   #category_tree .dt:hover{ position: relative;
background: #88766e;
z-index: 999999998;
color: #fff;
}
   
   
   
   #category_tree .current a,#category_tree .current .a{ background:#88766e; color:#FFFFFF }
   
   #category_tree  .cate{ line-height:22px; font-weight:bold; border-top:1px solid #dadada; padding:5px;}
    #category_tree  .cate .clearfix a{ font-weight:normal; float:left; width:90px; }
   
   
   #category_tree dd{display: none;
lear: both;
z-index: 99999;
box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.2);
position: absolute;
left: 209px;
top: 0px;
width: 750px;
padding: 10px 15px 10px 0;
background: #fff;
border: #ddd solid 1px; }
 #category_tree dd ul{float: left;
width: 250px;
overflow: hidden;
}
   #category_tree dd .over_3{display: inline-block;
float: left;
padding: 0 5px;
line-height: 24px;
color: #666;
white-space: nowrap; }
   #category_tree dd .clearfix{ margin-left:15px;}
   #category_tree dd .over_3:hover{color:#cc0001; text-decoration: underline;}
    #category_tree dd .over_2{margin: 0 0 3px 20px;
height: 25px;
line-height: 25px;
font-weight: bold;
font-size: 14px;
border-bottom: #000 solid 2px;
font-family: "微软雅黑";
text-align: left;
color: #333;
clear: both; display: block;}
.subList{width: 192px;
float: right;
}
.subList li {
float: left;
display: block;
height: 22px;
line-height: 22px;
}
.subList li a {
padding: 0 5px;
color: #666;
display: block;
float: left;
white-space: nowrap;
}
	
  /*里页分类树*/	
	
	  #category_tree .cate h1{ font-size:12px; font-weight: bold; font-family:"微软雅黑"; height:35px; line-height:35px;border-top:1px solid #eee }
	#category_tree .cate h1 a{ font-size:12px; color:#0d0d0d }
	#category_tree {   }
	
	
	
	
	
	.sale_box{ border:1px solid #e3e3e3; background:url(images/sale_bg.gif) repeat-x #f8f8f8; padding:10px; width:958px; float:right; }
	.sale_box .tit{ font-size:14px; font-weight:bold; padding:5px 15px 0 15px;  }
	.sale_box ul{ float:left; width:205px; height:262px; padding:15px; line-height:22px;}
	.sale_box ul img{ width:200px; height:200px;}
	
	
   
   /*销售排行*/
   
 
   
   .top10Tit{background:url(images/bg.gif) no-repeat 0px -85px; height:30px;}
   .top10List{background-color:#fff; margin:0px 4px 4px 4px;}
	 .top10List ul{border-bottom:1px solid #ddd; position:relative;}
	 .top10List .iteration{position:absolute; top:6px; left:6px;}
	 .top10List .iteration1{padding-left:3px;}
	 .top10List li.topimg{width:90px; height:90px;}
	 .top10List .samllimg{width:90px; height:90px; margin-bottom:4px;}
   .top10List li{padding:3px 3px 3px 23px; float:left;}
   /*linkCOLOR*/
   .top10List li a,#mallNews .NewsList li a,.boxCenterList li a{color:#3f3f3f; text-decoration:none;}
   .top10List li a:hover,#mallNews .NewsList li a:hover,.boxCenterList li a:hover{color:#ff6f3d; text-decoration: underline;} 
   
   
 
   .top10_1{ width:223px; height:106px; background: url(images/top10_1.gif) no-repeat}
   .top10_1 li{ color:#FFF; font-size:12px; font-weight:bold}
   .top10_1 li a{ color:#FFF; font-weight:normal; display:block; padding-bottom:7px; }
   .top10_1 li .f1{ color:#FFF}
   /*首页焦点图*/
 
   #mallNews{ overflow:hidden }
   .newart_tit{ width:192px; height:26px; line-height:26px; background:url(images/newart_tit.gif); color:#c90707; font-weight:bold; font-size:14px; text-align:left; color:#333; font-size:12px; padding-left:10px;}
   #mallNews .NewsList{background:#FFFFFF; padding:7px;}
   #mallNews .NewsList ul{ line-height:25px;}
   #mallNews .NewsList li{background:url(images/bg.gif) no-repeat 0px -164px; padding:0px 0px 0px 10px;line-height:22px; height:22px;
   text-align:left; color:#666; overflow:hidden
   }
   #mallNews .NewsList li a{ color:#666}
   /*今日特价和品牌*/
   #sales{width:500px; background:url(images/salesBg.gif) repeat-x left bottom;
   border-bottom:2px solid #f0f1f3; background-color:#eef8ff;
   }
   #sales h1{font-size:12px; background:url(images/salesTitBg.gif) no-repeat; height:33px; text-align:right;}
   #sales h1 img{position:relative; top:10px; right:8px;}
   #sales .goodBox{margin:10px 0px 10px 10px; _margin-left:5px;}
     #sales .goodBox .goodList p{text-align:left; color:#3f3f3f;}
     #sales .goodBox .goodList p a{color:#3f3f3f; text-decoration:none;}
   #sales .goodBox .goodList p a:hover{color:#ff6f3d; text-decoration: underline;}
   #sales .goodList{width:110px; margin:0px 5px 0px 5px; float:left;}
   #sales .goodList img{background:url(images/salesGoodBg.gif) no-repeat; width:100px; height:100px; padding:5px;
   }
   #sales .goodList p{ margin-top:3px; text-align:center;}
   #brands{width:247px; height:199px; *height:201px; padding:1px 0 0 1px; position:relative;}
   #brands .brandsMore{position:absolute; left:178px; bottom:10px;
   width:65px; height:41px;
   }
   #brands .brandsMore img{border:none; width:65px; height:41px;}
   #brands img{width:78px; height:40px;border:1px solid #e2e2e2;}
   #brands a{color:#0069cd; text-decoration:none; margin:2px 1px; display:block; float:left;}
     .brandsIe6{_width:250px;}/*在ie6下特价商品不存在的话品牌推荐永远靠右显示*/
   /*精品推荐，新品上市，热卖商品*/
   .centerPadd{padding:5px 8px 8px 8px; overflow:hidden;}
   
   .box_3{ border:1px solid #dedede; background:url(images/tit1.gif) repeat-x }
   
 
  .itemTit .tit{ height:32px; line-height:32px; background:url(images/cat_tit_bg.gif) repeat-x; padding-right:10px}
  .itemTit .tit .ss_class{ float:right}
  .itemTit .tit .ss_class a{ color:#666}
  .itemTit .tit .f_l{ width:180px;font-size:16px; font-weight:bold; padding-left:25px; background:url(images/cat_tit_l.gif) no-repeat}
  .itemTit .tit .f_l a{ color:#666; font-size:16px; font-weight:bold} 
   
   
   
   .itemBest_box .box_1{ border:1px solid #bddbfd; background:#e6f2ff; padding:15px 20px 5px 20px; margin-top:-1px;}
   
   
   
   
   
   
   
   
   .itemBest_box .f1{ color:#1e51a4; font-weight:bold}
   .itemBest_box .f1 a{ color:#1e51a4;}
   

   
 

   .itemTit img{position:relative; top:7px;}
   .itemTit h2{height:27px; line-height:28px; border:none; background:none;
   font-size:12px; text-align:center; color:#f90; font-weight:bold; padding:0px 10px;
     display:inline; white-space:nowrap;
   }
   .itemTit h2 a{color:#f90;text-decoration:none;}
   .itemTit .h2bg{height:27px; line-height:28px; border:none; background:none;
   font-size:12px; text-align:center; color:#666; font-weight:100; padding:0px 10px;
     display:inline; white-space:nowrap;
   }
   .itemTit .h2bg a{color:#666; text-decoration:none;}
   .centerPadd .goodsBox{border:1px solid #d6ecff; background:#fff; padding:12px 0px 0px 17px; *padding:12px 0px 0px 17px;
   _padding:12px 0px 0px 0px;}
   .centerPadd .goodsBox .more{text-align:right; clear:both; margin:0 8px 8px 0;}
       /*单个商品*/
       .goodsItem{width: 190px;
padding-left: 8px;
float: left;
position: relative;}
	  
       .goodsItem .goodsimg{width:190px; height:190px;  margin-bottom:4px;}
       .goodsItem p{text-align: left; font-weight:normal; display:block;   overflow:hidden}
       .goodsItem p a{  text-decoration:none;}
       .goodsItem p a:hover{ text-decoration: underline;}
       .goodsItem span{width:40px; height:40px; position:absolute;left:0px; top:0px;}
       .goodsItem span.best{background:url(images/bg.gif) no-repeat 0px -304px;}
       .goodsItem span.news{background:url(images/bg.gif) no-repeat -75px -304px;}
       .goodsItem span.hot{background:url(images/bg.gif) no-repeat -161px -304px;}
	   
	   
	   
	   .goods_cat{ padding:10px;}
	   .goods_cat .goodsItem{ padding:5px 11px 15px 10px; }
	   
	   
 /*商品分类*/
  .xm-box{border: 1px solid #ececec;
border-top: 2px solid #ce000d; padding-top:0;}
 .xm-box .title{ background: url(images/midd_bg.png) repeat-x left top;height: 40px;line-height: 40px; padding:0 10px;}
  .xm-box .title span{ float:left; font-size:21px; font-weight:bold; color:#ce000d;}
 .xm-box .title .more{ float:right; padding-right:20px; height:40px; line-height:40px; background:url(images/biao17.gif) right center no-repeat}
 
.top_nav .header_r{ color:#cbcbcb; float:right; color:#818181}
.top_nav a{ color:#616161; padding:0 3px;}
.top_nav {}	   

   /*帮助*/
    

  
  /*帮助*/
   /*相关商品 模_板_堂_出_品*/
   .boxCenterList ul{height:1%; margin-bottom:5px;}
   .boxCenterList li{float:left; width:100px; line-height:20px;}
   .boxCenterList li.goodsimg{width:87px; margin-right:10px; float:left}
   .boxCenterList li.goodsimg img{width:85px; height:85px; display:block;}
   /*相关文章(其它带有小三角点的文字列表共用)*/
   .RelaArticle a,.alone{background:url(images/bg.gif) no-repeat 0px -170px; padding:0px 0px 0px 10px; color:#3f3f3f; text-decoration:none;}
   .RelaArticle a:hover{background:url(images/bg.gif) no-repeat 0px -170px; padding:0px 0px 0px 10px; color:#ff6f3d; text-decoration: underline;}
   /*浏览历史，收藏*/
   .history{ border-bottom:3px solid #CF010E;}
   .history h2{height:32px; line-height:32px; width:148px;  text-align:center; font-size:12px;
   float:left; color:#fff; background:#CF010E; margin-right:5px;  
  
   }
   .history .h2bg{   border:1px solid #ddd ; border-bottom:none; color:#666;height:31px; line-height:31px; width:146px; background:none ;  
   }
     #history li{width:100%;}
		 #clear_history a{background:none; padding:0px; color:#3f3f3f; text-decoration:none;float:right;cursor:pointer;}
   .colle a{background:none; padding:0px; color:#3f3f3f; text-decoration:none;}
   .colle a:hover{background:none; padding:0px; color:#ff6f3d; text-decoration: underline;}
   /* ====================
     商品详情页面部分模块
==================== */
   #goodsInfo{  _height:1%;}
   #goodsInfo h1{overflow: hidden;
font-family: arial,"microsoft yahei"; font-size:18px; text-align:left}
   #goodsInfo .imgInfo{width:362px; float:left; padding-right:10px; }
   #goodsInfo .imgInfo .thumb{width:230px; height:230px; display:block;}/*商品详情图片*/
   #goodsInfo span{width:4px; height:48px; background:url(images/bg.gif) no-repeat 0 -527px; float:left;}
   #goodsInfo span.spanR{width:4px; height:48px; background:url(images/bg.gif) no-repeat -5px -527px; float:right;}
   #goodsInfo .gallery{width:204px; float:left; margin-left:10px; _margin-left:5px; overflow:hidden;}
   #goodsInfo .gallery ul{width:auto;}
   #goodsInfo .gallery li{float:left; width:48px; margin:0 2px;}
   #goodsInfo .gallery li img{width:46px; height:46px; display:block;}
   
   #goodsInfo .market{ padding-left:10px;}
   
  .textInfo ul strong{ font-weight:normal}
   /*文字信息*/
   #goodsInfo .textInfo{background:#fff; width:570px; float:right; padding: 0px;  }
   #goodsInfo .textInfo h1{ padding-bottom:10px;border-bottom:1px solid #ccc;}
   #goodsInfo .textInfo p{font-size:14px; font-weight:bold; padding:0 5px 5px 8px;}
   #goodsInfo .textInfo ul{ padding:6px 0 }
   #goodsInfo .textInfo li{  padding:6px 8px; _height:1%;}
    #goodsInfo .textInfo select{ width:80px;}
   #goodsInfo .textInfo .ul2{border-bottom:1px solid #ccc;}
   #goodsInfo .textInfo .ul2 li{ float:left; width:40%;  }
 
   .bnt_ul{ background:#f5f5f5; padding:10px;  }
  .bnt_ul img{ vertical-align:middle}
   #goodsInfo .textInfo li dd{ }
   #goodsInfo .textInfo li dd.ddR{border-left:1px solid #eeecec; width:48%; padding-left:8px;}
     #goodsInfo .textInfo li dd.ddL{border-right:1px solid #eeecec;}
   #goodsInfo .textInfo a{color:#ff6f3d; text-decoration:underline;}
   #goodsInfo .textInfo .loop{ margin-top:0px;}
   
   .shuxin dt{ border:1px solid #ccc; text-align:center; font-weight:bold; color:#ff6f3d; margin-bottom:3px;}
	.shuxin dd{ width:50%; float:left}
	.shuxin dd span{ float:left; background:#eee; margin:3px;}
	.shuxin dd .span1{width:125px;padding-left:5px;}
	.shuxin dd .span2{width:220px; padding-left:5px;}
   /*用户评论*/
   .ie6{padding-left:25px; _padding-left:15px; height:1%;}/*购买此商品的人还购买的商品*/
   .comments li{background:url(images/lineBg.gif) repeat-x left bottom; padding:3px 8px; width:97%; _height:1%; text-align:left; position:relative;
   margin-bottom:8px;
   }
   .comments li img{position:absolute; right:0px; top:3px;}
   .comments li p{margin:3px auto; text-align:left;}
   .commentsList{border:1px solid #ccc; background:#f7f7f7; padding:10px;}
   .commentsList .inputBorder{border:1px solid #ccc; background:#fff;}
     .captcha{margin-left:0px; position:relative; top:-1px; *margin-left:8px; *position:relative; top:3px; cursor:pointer;}
    /* ====================
     品牌推荐
==================== */
    /*品牌列表*/
    #brandList{ margin-top:12px; height:1%;}
    #brandList .brandBox{width:240px; _width:236px; float:left; margin:0 5px 20px 5px; text-align:center; overflow:hidden; height:160px;}
        #brandList .brandBox .brandLogo{width:188px; height:52px; overflow:hidden;}
    #brandList .brandBox h4{height:23px; line-height:23px; background:#e9e9e9; margin:15px 0 8px 0; padding:0 10px; text-align:right;
    font-weight:100; font-size:12px;
    }
    #brandList .brandBox h4 span,#brandList .brandBox h4 span a{float:left; font-weight:bold; color:#3f3f3f; text-decoration:none;}
    #brandList p{text-align:left; margin-bottom:5px; color:#909090; padding:8px;}
    #brandList p.brandCategory,#brandList p.brandCategory a{text-align:left; color:#006acd; text-decoration:none;}
    #brandList .brandArticle{border:1px dashed #d9d9d9; background:#e2e2e2; text-align:left;}
    .brandCategoryA a{ margin-right:15px;}

         /* ====================
     用户中心
==================== */
.login_tab{background:url(images/login_tab_bg.gif) bottom no-repeat; height:26px; margin-top:22px;}
.login_tab ul{padding-left:70px;}
.login_tab ul li.active {
background-position: -122px 0;
color: #fff;
}
.login_tab ul li.active a{ color:#fff}
.login_tab ul li {
width: 116px;
text-align: center;
font-size: 14px;
font-weight: bold;
height: 25px;
line-height: 25px;
float: left;
background: url(images/login_tab_li.gif) no-repeat 0 0;
margin-right: 6px;
cursor: pointer;
}



    .box_1 .userCenterBox{border:4px solid #f8f8f8; background-color:#fff;}
    .usBox{ padding:0 70px;  }
	
	.usBox .inputBg{ border:1px solid #ccc; background:none}
	.usBox  .inputBg { width:210px;}
	.usBox   form{ padding:20px 0}
	
	
    .usBox_1{background:#fff; text-align:left; width:620px; }
    .logtitle{height:35px; background:url(images/user_tit1.gif) no-repeat 0px 0px;}
	.logtitle3{height:35px; background:url(images/user_tit3.gif) no-repeat 0px 0px;}
    .us_Submit{border:none; width:125px; height:40px; background:url(images/bnt_ur_log.gif)}
    .us_Submit_reg{border:none;  width:125px; height:40px; background:url(images/bnt_ur_reg.gif);}
    .usTxt{  float:right;padding: 3px;
border: solid 1px #e4e4e4;
    
    }
	.regtitle{ width:510px; height:35px; background:url(images/user_tit2.gif)}
    .usTxt img{ }
    /*注册*/
    .usBox_2{background:#fff url(images/usBox_2bg.gif) 550px center no-repeat ; text-align:left; padding:43px 153px 60px 123px;}
    .usBox_2 .regtitle{height:30px; background:url(images/ur_bg.gif) no-repeat 0px -34px;}
    .actionSub a{color:#000; text-decoration:underline;
    background:url(images/ur_bg.gif) no-repeat 0px -68px; padding-left:14px;
    }
    .box_1 .userCenterBox .userMenu a{display:block; height:25px; line-height:25px; background:url(images/menuBg.gif) no-repeat 0 -30px;
    color:#3f3f3f; text-decoration:none; margin:0 0 3px 10px; padding-left:3px;
    }
    .box_1 .userCenterBox .userMenu a.curs{background:url(images/menuBg.gif) no-repeat 0 0px; font-weight:bold;}
    .box_1 .userCenterBox .userMenu a img{ margin-right:3px;}
    .msgBottomBorder{clear:both; background:url(images/lineBg.gif) repeat-x left bottom; padding-bottom:8px; margin-bottom:8px;}

/* ====================
     商品分类页面
==================== */
    /*属性组合搜索*/
			.screeBox{padding:10px;}
		.screeBox a{color:#404040;}
		.screeBox span{background:#CF010E; color:#FFFFFF; padding:3px 5px; margin:0 3px;}
		
    .sort a{ position:relative; bottom:5px;}
    .sort input{position:relative; top:3px;}
    /*商品列表显示方式*/
    .goodsList{ padding:10px 10px 0 10px;}
    .goodsList ul{ margin-bottom:10px;}
    .goodsList ul#bgcolor{background:#fbfbfb; border-top:1px dashed #e8e8e8; border-bottom:1px dashed #e8e8e8;}
    .goodsList li{float:left; padding:8px;}
	.goodsList  a{ text-decoration:none; color:#900}
	
    .goodsList li.thumb{ text-align:center;}
    .goodsList li.thumb img{ border:1px solid #ccc; padding:1px;}
    .goodsList li.goodsName{width:250px; margin-right:10px; font-size:12px;}
	.goodsList li.goodsName .div_name{ height:80px;}
	.goodsList li.goodsName a{ font-size:12px; font-weight:bold; color:#333333}
	.goodsList li.goodsName .bnt_blue{ color:#FFFFFF; font-size:12px; float:left; margin-right:10px;}
    .goodsList li.action{float:right; margin-left:10px; line-height:25px;}

/* ====================
     团购
==================== */
    .group{ padding:8px;}
    .group li{float:left; background:#fff; padding:8px;}
	.group .f_l{ width:220px; text-align:center}
.group .f_r{ width:425px; line-height:23px; text-align:left}

/* ====================
     购物流程
==================== */
    .flowBox{ padding-bottom:5px;}
	 .flowBox h6{ background:#ececec; color:#666666; font-weight:bold}
    .flowBox table{ margin:5px auto;}
		/*2.62在购物车里面显示相关配件*/
		.flowGoodsFittings{padding-top:10px;}
		.flowGoodsFittings ul{height:1%; margin:5px 8px; width:224px; float:left;}
    .flowGoodsFittings li{float:left; width:224px; font-size:12px; line-height:22px;}
    .flowGoodsFittings li.goodsimg{width:220px; margin-right:10px;}
    .flowGoodsFittings li.goodsimg img{width:220px; height:220px; display:block;}
		
/* ====================
     文章列表页-2009.6.8
==================== */
    .article_search{margin:8px 0;}
		.article_search .inputBg{width:300px;}
/* ====================
    打印报价单
==================== */
    .quotation{ margin:20px auto 20px auto; text-align:center;}




   /*翻页*/
   .pagebar{height:20px; float:right;color:#666;}
   .pagebar img{position:relative; top:2px;}
   .pagebar a{display:block; float:left; margin:0 2px; color:#666; text-decoration:none;}
   .pagebar a:hover{color:#ff6f3d; text-decoration:none;}
   .pagebar .page_now{display:block; float:left; margin:0 5px; color:#ff6f3d; font-weight:bold; background:#fff;}
   #pager a{color:#666; text-decoration:none;}

/*底部导航+友情链接*/
#bottomNav{width:948px;color:#000; border:1px solid #ddd; background:#f9f6f4}
#bottomNav a{ color:#555; text-decoration:none;display: inline-block;padding:0 30px;vertical-align: middle;}
#bottomNav2{width:948px; height:28px;line-height:28px; text-align:center;background:#f9f6f4; border:1px solid #ddd;}
#bottomNav2 a{ color:#333;text-decoration:none; padding:0 10px;}

/*底部*/
/*页尾样式*/  
#footer{background: #fafafa url(images/repeat_bg.png) 0 -295px repeat-x;width: 100%;padding: 30px 0 60px 0;}
.helpTitBg{ position:relative;  text-align:left;  }
.helpTitBg dl{float: left;height: 165px; width:150px; background-position:-870px 36px; padding: 0 40px;margin: 0 0 0 -41px; padding:0 40px; overflow:hidden;}
.helpTitBg .dl7{text-align:center; width:75px; padding:0 0 0 30px; overflow:hidden;}

.helpTitBg dt{background: none;padding: 0 0 7px 0;color: #333;font-size: 16px;font-weight: bold;font-family: "微软雅黑", Arial, Helvetica, sans-serif;}
.helpTitBg dd {background:url(images/help_bg.jpg) right top no-repeat; height:100px;}
.helpTitBg dd a{color:#999; display:block; height:22px; line-height: 22px; text-decoration:none; background:url(images/help_arrow.jpg) left center no-repeat; padding-left:15px;  }
.helpTitBg dd a:hover{ color:#CC0001; text-decoration:underline;}
.asure,.pic{background:url(images/rest_bg.png) 0 0 no-repeat;}
.asure{height: 91px;background-position: 0 -169px;text-align: left;}
.asure li{ float:left;  height:60px; text-indent:-9999px;}
#footer .text{font-family: tahoma;padding: 10px;text-align: center;line-height: 25px;}
.pic{ height:55px;margin-top: 15px; background-position: 260px -280px;}







/*智能提示弹出层*/ .vjia-suggest-container{display:none;width:306px;position:absolute;top:27px;left:0;border:1px solid #b3b3b3;background-color:#fff;z-index:98;}
.full .vjia-suggest-container{width:406px;}
.vjia-suggest-container ol{border-bottom:3px solid #d8d8d8;list-style:none;margin:0;padding:0;}
.vjia-suggest-container ol li{height:25px;line-height:24px;padding-left:9px;cursor:default;}
.vjia-suggest-container ol .selected{background-color:#d80732;color:#fff;}
/*购物车提示点击更新按钮式样2.6.2版本添加*/
.messageli {
list-style-type:none;
padding:5px;
color:red
}
.messagediv {
font-size:12px;
position:absolute;
border:1px solid #FFD700;
text-align:center;
padding:5px;
background-color:#FFFACD;
filter:alpha(opacity=50);
-moz-opacity:0.7;
opacity: 0.7;
}

/* ======商品比较浮动块 ====== */
#compareBox { background:url(images/comparebox.gif) no-repeat;
 width:140px;
 position: absolute;
 right:1px;
 top:200px; padding-top:21px;
}

#compareBox input {
    width:140px; height:26px;
    border:none;
    background:url(images/compareSub.gif) no-repeat;
}

#compareList {
 padding:0px;
 width:138px;
 background:#FFFFFF;
 border:1px solid #91b3cb; border-bottom: none; padding-top:5px;
}

#compareList li {
 color: #333;
 text-align:left;
 background: #eff8ff;
 padding: 3px 5px;
 margin: 0 5px 5px 5px; border:1px solid #dceaf5
}

#compareList li img {
 float:right;
 padding-top:4px;
}


/*购物车提示点击更新按钮式样2.6.2版本添加*/
.messageli {
 list-style-type:none;
 padding:5px;
 color:red
}
.messagediv {
 font-size:12px;
 position:absolute;
 border:1px solid #FFD700;
 text-align:center;
 padding:5px;
 background-color:#FFFACD;
 filter:alpha(opacity=50);
 -moz-opacity:0.7;
 opacity: 0.7;
}

/*  积分兑换样式修改 */
.point li{
 float:left;
 width:300px;
}

/*********************放大镜配置文件*******************************************************************************************/

/* Copyright 2008 MagicToolBox.com. To use this code on your own site, visit http://magictoolbox.com */

/* CSS class for zoomed area */
.MagicZoomBigImageCont {
	border:			1px solid #ccc;
}

/* Header look and feel CSS class */
/* header is shown if "title" attribute is present in the <A> tag */
.MagicZoomHeader {
	font:			12px Tahoma, Verdana, Arial, sans-serif;
	color:			#fff;
	background:		#ccc;
	text-align:     center !important; 
}


/* CSS class for small looking glass square under mouse */
.MagicZoomPup {
	border: 		1px solid #aaa;
	background: 	#ffffff;
	cursor:			hand;
}

/* CSS style for loading animation box */
.MagicZoomLoading {
	text-align:		center;
	background: 	#ffffff;
	color:			#444;
	border: 		1px solid #ccc;
	opacity:		0.8;
	padding:		3px 3px 3px 3px !important;
	display: 		none; /* do not edit this line please */
}

/* CSS style for gif image in the loading animation box */
.MagicZoomLoading img {
	padding-top:	3px !important;
}
/* ©2008 MagicToolbox.com. To use this code on your own site, visit http://www.magictoolbox.com */

/* CSS class for thumbnail link <A> */
.MagicThumb {
    cursor: url(images/zoomin.cur), pointer;
    outline: none;
}

/* CSS class for the thumbnail link <A> when the big image is zoomed mo ban tang ban quan suo you */
.MagicThumb-zoomed { cursor: default; }

/* CSS class for span inside the thumbnail <A> */
.MagicThumb span { display: none; }

/* CSS class for the thumbnail image */
.MagicThumb img { border: 1px solid #808080; outline: none; }

/* CSS class for the big image while zooming */
.MagicThumb-image { border: 1px solid #cccccc; outline: none; }

/* CSS class for the zoomed big image */
.MagicThumb-image-zoomed { cursor: url(images/zoomout.cur), pointer; }

/* CSS class for the caption under the big zoomed image */
.MagicThumb-caption {
    color: #333333;
    background-color: #F0F0F0;
    border: 1px solid #CCCCCC;
    border-top: none;
    font-family: Verdana, Helvetica;
    font-size: 11px;
    padding: 8px 16px;
}

/* CSS class for the control bar ec mo ban */
.MagicThumb-controlbar {
	display: block;
	height: 18px;
}

.MagicThumb-controlbar a {
	display: block;
	width: 18px;
	height: 18px;
	margin: 0px 1px;
	outline: none;
	float: left;
	overflow: hidden;
}

.MagicThumb-controlbar a span {
	display: block;
	width: 990px;
	height: 990px;
	background: transparent url(images/controlbar.png) no-repeat 0 0;
	outline: none;
	position: absolute;
	left: 0px;
	top: 0px;
}

/* CSS class for the loading message box */
.MagicThumb-loading {
	border: 1px solid #000000;
	background: #ffffff url(images/loader.gif) no-repeat 2px 50%;
	padding: 2px 2px 2px 22px;
	margin: 0;
	text-decoration: none;
	text-align: left;
	font-size: 8pt;
	font-family: sans-serif;
}
	.picture{

	margin-top:10px;
	text-align:left;

	}
	 .picture img{
	width:65px;
	height:65px;
	cursor:pointer; 
	margin:0 0px; margin-right:3px;
	}
	.picture img.onbg{ border:1px solid #CF010E;
	
	}
	.picture img.autobg{
	border:1px solid #fff;
	
	}
	
	
	
		
	.left_help{ border:1px solid #e2e2e2;}
	
	.left_help dl{ padding:10px;}
	.left_help dl dt{ font-weight:bold; font-size:12px; background:#e5e5e5; height:24px;line-height:24px; padding-left:10px;}
	.left_help dl dt img{ vertical-align:middle }
	.left_help dl dd{ padding-left:10px; padding-top:5px;}
	.left_help dl a{ color:#666; text-decoration:none}
	.left_help dl a:hover{ color:#1c7b3b}
	
	.art_cat_box{}
.art_cat_box th{ height:26px;line-height:26px; }
.art_cat_box td{ border-bottom:1px solid #dbdbdb; font-weight:normal}
.art_cat_box td a{ font-weight:bold; color:#3f3f3f; padding-left:20px; }








.ecmoban{ font-size:0}
 




